.container {
    max-width: 280px;
    margin: 0 auto;
    @media screen and (min-width: 360px) {
        max-width: 320px;
    }
    @media screen and (min-width: 380px) {
        max-width: 340px;
    }
    @media screen and (min-width: 412px) {
        max-width: 370px;
    }
    @media screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media screen and (min-width: 768px) {
        max-width: 720px;
    }
    @media screen and (min-width: 834px) {
        max-width: 780px;
    }
    @media screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media screen and (min-width: 1366px) {
        max-width: 1300px;
    }
    @media screen and (min-width: 1400px) {
        max-width: 1380px;
    }
}

.container-separation-y {
    padding: 2rem 0;
}