// Colors

.primary-color-pico-pink {
    color: $primary-color-pico-pink;
}

.primary-color-imperial-primer {
    color: $primary-color-imperial-primer;
}

.primary-color-concrete {
    color: $primary-color-concrete;
}

.support-color-silver {
    color: $support-color-silver;
}

.support-color-light-blue-ballerina {
    color: $support-color-light-blue-ballerina;
}

.support-color-pure-white {
    color: $support-color-pure-white;
}

.support-color-asbestos {
    color: $support-color-asbestos; 
}

.support-color-tomato-red {
    color: $support-color-tomato-red;
}

// Background Colors

.bg-primary-color-pico-pink {
    background-color: $primary-color-pico-pink;
}

.bg-primary-color-imperial-primer {
    background-color: $primary-color-imperial-primer;
}

.bg-primary-color-concrete {
    background-color: $primary-color-concrete;
}

.bg-support-color-silver {
    background-color: $support-color-silver;
}

.bg-support-color-light-blue-ballerina {
    background-color: $support-color-light-blue-ballerina;
}

.bg-support-color-pure-white {
    background-color: $support-color-pure-white;
}

.bg-support-color-asbestos {
    background-color: $support-color-asbestos; 
}

.bg-support-color-tomato-red {
    background-color: $support-color-tomato-red;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}